doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link( href="../src/styles/style.css", rel="stylesheet", type='text/css')
    body
        include ../modules/header.pug
        include ../modules/rules.pug
        include ../modules/footer.pug