header
            nav
                ul  
                    li 
                        a(href="../src/index.html") Главная
                    li 
                        a(href="../src/Kinds_coffe.html") Виды кофе
                    li 
                        a(href="../src/about_health.html") О здоровье
                    li
                        a(href="../src/ruls.html") Правила приготовления