div.background 
        div.main
            h2.title_of_section.title_of_section_white Витамины и минералы в кофе
            table
                    tr 
                        th Название
                        th Назначение
                    tr
                        td Витамин B1
                        td Играет важную роль в работе нервной системы, участвует в углеводном обмене, улучшает циркуляцию крови и участвует в кроветворении, активизирует познавательную активность и функции мозга и защищает организм от разрушительного воздействия старения, алкоголя и табака.
                    tr
                        td Витамин B2
                        td Участвует в углеводном, жировом, белковом обмене; необходим для работы нервной системы и образования красных кровяных телец и антител, для дыхания клеток и роста, улучшает зрение и снимает усталость глаз, минимизирует негативное воздействие различных токсинов на дыхательные пути.
                    tr 
                        td Кальций
                        td Один из самых важных для человека минералов. Он необходим для сокращения скелетных мышц и сердца, для передачи нервного импульса, а также для нормальной свертываемости крови (способствует переходу протромбина в тромбин), для построения каркаса костей и зубов.

                    tr 
                        td Магний
                        td Назначение: Один из самых важных для человека минералов. Он необходим для сокращения скелетных мышц и сердца, для передачи нервного импульса, а также для нормальной свертываемости крови (способствует переходу протромбина в тромбин), для постросния каркаса костей и зубов.
                    tr  
                        td Железо
                        td Один из основных компонентов гемоглобина. Гемоглобин переносит кислород в крови по всему организму. А железо участвует в процессе воспроизводства здоровых эритроцитов, содержащих гемоглобин.
        