div.main
    h2.title_of_section Кофе
    .images__blocks
        .image__block
            img(src="../src/img/cf1.jpg", alt="")
            p Кофе молотый
        .image__block
            img(src="../src/img/cf2.jpg", alt="")
            p Кофе зерновой
        .image__block
            img(src="../src/img/cf3.jpg", alt="")
            p Кофе растворимый