div.main
            h2.title_of_section Кофе
            p.top_text Кофе - это сваренный напиток, приготовленный из обжаренных кофейных зерен, семян ягод некоторых цветущих растений рода Coffea, Из кофейных плодов семена отделяются, чтобы получить стабильный сырой продукт: необжаренный зеленый кофе. Затем семена обжариваются-процесс, который превращает их в потребляемый продукт: жареный кофе, который перемалывается на мелкие частицы, которые обычно замачиваются в горячей воде перед тем, как отфильтроваться, образуя чашку кофе.
            p.top_text Кофе помимо вкуса обладает и полезными качествами. Это:
            ul 
                li бодрящий эффект
                li снижение риска онкологии и болезни Паркинсона
                li стимулируется работа желчного пузыря, тем самым уменьшается риск цирроза печени
                li повышение давления - быстрая помощь для людей с гипотонией
                li источник серотонина
            form(action="")
                input(type="text" placeholder="Введите свой емайл")
                input(type="button", value="Подписаться")