doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="../src/styles/style.css")
    body
        //- через include не хочет работать как в примере у вас, только так =(
        include ../modules/header.pug

        div.background
            h2.name_of_page О нас

        div.main
            div.text 
                p.zag MyGiro.ru - магазины техники будущего в Москве и Екатеринбурге
                p В нашем интернет-магазине представлен большой выбор гироскутеров, сигвеев и электросамокатов от известных мировых производителей.<br>В нашем интернет-магазине представлен большой выбор гироскутеров, сигвеев и электросамокатов от известных мировых производителей. Все товары, представленные на нашем сайте, отобраны лучшими специалистами в этой области. Купить гироскутер, электросамокат или сигвей недорого.
                p.zag Адреса магазинов:

                p 
                    span.zag г. Москва, ул. Смольная д.63Б ,
                    span вход №1, павильон Б-1, 1 этаж ТЦ "ЭКСТРИМ", ст. М. БЕЛОМОРСКАЯ, есть Бесплатная парковка для наших клиентов.
                p 
                    span.zag г. Екатеринбург, ул. Куйбышева 61 ,
                    span Цокольный этаж, ТЦ "Наутилус", ст. М. ГЕОЛОГИЧЕСКАЯ, есть Бесплатная парковка для наших клиентов
                       
                p 
                    span.zag Если у вас есть предложения или вопросы
                    span , вы всегда можете написать напрямую на почту создателю Futumag – 
                    a(href="futumag24@mail.ru") futumag24@mail.ru
            input(type="button", value="В КАТАЛОГ")
        
        include ../modules/footer.pug