doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="../src/styles/style.css")
    body
        include ../modules/header.pug

        div.background
            h2.name_of_page Каталог
        
        div.main
            div.choose
                ul
                    li Все
                    li Гироскутеры
                    li Электросамокаты
                    li Сигвеи

            div.products
                div.tovar
                    div.pusto
                    div.top_tv
                        span.type_tv Сигвеи 
                    img(src="../src/img/2 1.png", alt="")
                    p.name_tv Xiaomi Ninebot mini Pro White (Белый)
                    p.prise_tv 31 480 р.
                
                div.tovar
                    div.pusto
                    div.top_tv
                        span.type_tv Сигвеи 
                    img(src="../src/img/2 1.png", alt="")
                    p.name_tv Xiaomi Ninebot mini Pro White (Белый)
                    p.prise_tv 31 480 р.
                
                div.tovar
                    div.pusto
                    div.top_tv
                        span.type_tv Сигвеи 
                    img(src="../src/img/2 1.png", alt="")
                    p.name_tv Xiaomi Ninebot mini Pro White (Белый)
                    p.prise_tv 31 480 р.
                
                div.tovar
                    div.pusto
                    div.top_tv
                        span.type_tv Сигвеи 
                    img(src="../src/img/2 1.png", alt="")
                    p.name_tv Xiaomi Ninebot mini Pro White (Белый)
                    p.prise_tv 31 480 р.
                
                div.tovar
                    div.pusto
                    div.top_tv
                        span.type_tv Сигвеи 
                    img(src="../src/img/2 1.png", alt="")
                    p.name_tv Xiaomi Ninebot mini Pro White (Белый)
                    p.prise_tv 31 480 р.
                
                div.tovar
                    div.pusto
                    div.top_tv
                        span.type_tv Сигвеи 
                    img(src="../src/img/2 1.png", alt="")
                    p.name_tv Xiaomi Ninebot mini Pro White (Белый)
                    p.prise_tv 31 480 р.
                
                div.tovar
                    div.pusto
                    div.top_tv
                        span.type_tv Сигвеи 
                    img(src="../src/img/2 1.png", alt="")
                    p.name_tv Xiaomi Ninebot mini Pro White (Белый)
                    p.prise_tv 31 480 р.
                
                div.tovar
                    div.pusto
                    div.top_tv
                        span.type_tv Сигвеи 
                    img(src="../src/img/2 1.png", alt="")
                    p.name_tv Xiaomi Ninebot mini Pro White (Белый)
                    p.prise_tv 31 480 р.


        
        include ../modules/footer.pug