doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="../src/styles/style.css")
    body 
        include ../src/modules/header.pug
        div.banner
            img(src="../src/img/banner.png", alt="")
            div.cont
                div.text_on_banner
                    p.M-G My-Giro
                    p.osn Крупнейший интернет-магазин гироскутеров, сигвеев и электросамокатов от известных мировых производителей
                    input(type="button", value="В КАТАЛОГ").btn_on_banner
        div.main
            h3.name_section О нас
            div.text
                p В нашем интернет-магазине представлен большой выбор гироскутеров, сигвеев и электросамокатов от известных мировых производителей.<br><br>В нашем интернет-магазине представлен большой выбор гироскутеров, сигвеев и электросамокатов от известных мировых производителей. Все товары, представленные на нашем сайте, отобраны лучшими специалистами в этой области. Купить гироскутер, электросамокат или сигвей недорого.
        div.background.big_bg
            div.main
                div.choose
                    h3.name_section Каталог
                    ul
                        li Все
                        li Гироскутеры
                        li Электросамокаты
                        li Сигвеи

                div.products
                    div.tovar
                        div.pusto
                        div.top_tv
                            span.type_tv Сигвеи 
                        img(src="../src/img/2 1.png", alt="")
                        p.name_tv Xiaomi Ninebot mini Pro White (Белый)
                        p.prise_tv 31 480 р.

                    div.tovar
                        div.pusto
                        div.top_tv
                            span.type_tv Сигвеи 
                        img(src="../src/img/2 1.png", alt="")
                        p.name_tv Xiaomi Ninebot mini Pro White (Белый)
                        p.prise_tv 31 480 р.
                    
                    div.tovar
                        div.pusto
                        div.top_tv
                            span.type_tv Сигвеи 
                        img(src="../src/img/2 1.png", alt="")
                        p.name_tv Xiaomi Ninebot mini Pro White (Белый)
                        p.prise_tv 31 480 р.
                    
                    
                    div.tovar
                        div.pusto
                        div.top_tv
                            span.type_tv Сигвеи 
                        img(src="../src/img/2 1.png", alt="")
                        p.name_tv Xiaomi Ninebot mini Pro White (Белый)
                        p.prise_tv 31 480 р.
        div.main 
            h3.name_section Полезная информация
            div.products
                div.inf_block_index
                    img(src="/src/img/Group 1.png", alt="")
                    p.name_inf_block_index Как выбрать гироскутер? Советы перед покупкой
                div.inf_block_index
                    img(src="/src/img/Group 1.png", alt="")
                    p.name_inf_block_index Как выбрать гироскутер? Советы перед покупкой
                div.inf_block_index
                    img(src="/src/img/Group 1.png", alt="")
                    p.name_inf_block_index Как выбрать гироскутер? Советы перед покупкой
                div.inf_block_index
                    img(src="/src/img/Group 1.png", alt="")
                    p.name_inf_block_index Как выбрать гироскутер? Советы перед покупкой

        include ../src/modules/footer.pug