doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="../src/styles/style.css")
    body
        include ../modules/header.pug

        div.background
            h2.name_of_page.nop2 Полезная информация

        div.main
            div.products
                div.inf_block
                    img(src="/src/img/Group 1.png", alt="")
                    p.name_inf_block Как выбрать гироскутер? Советы перед покупкой
                
                div.inf_block
                    img(src="/src/img/Group 1.png", alt="")
                    p.name_inf_block Как выбрать гироскутер? Советы перед покупкой
                
                div.inf_block
                    img(src="/src/img/Group 1.png", alt="")
                    p.name_inf_block Как выбрать гироскутер? Советы перед покупкой
                
                div.inf_block
                    img(src="/src/img/Group 1.png", alt="")
                    p.name_inf_block Как выбрать гироскутер? Советы перед покупкой
            
        include ../modules/footer.pug