footer
            div.napoln
                p В нашем интернет-магазине представлен большой выбор гироскутеров, сигвеев и электросамокатов от известных мировых производителей. <br><br>
                    span Все товары, представленные на нашем сайте, этобраны лучшими специалистами в этой области. <br><br>
                        span Copyright © 2020 My-Giro
                div.ulki
                    ul 
                        h4 КОМПАНИЯ MY-GIRO
                        li
                            a(href="") О нас
                        li
                            a(href="") Наши преимущества
                        li 
                            a(href="") Наши консультанты
                    ul 
                        h4 ПОКУПАТЕЛЯМ
                        li
                            a(href="") Каталог
                        li
                            a(href="") Бренды
                        li 
                            a(href="") Полезная информация
                    ul 
                        h4 ПОМОЩЬ
                        li
                            a(href="") Как оформить заказ
                        li
                            a(href="") Способы оплаты
                        li 
                            a(href="") Обмен и возврат товара
