header
    h1 My-Giro 
    nav 
        ul
            li 
                a(href="") ПРЕИМУЩЕСТВА
            li
                a(href="../src/about_us.html") О НАС
            li
                a(href="") ОСОБЕННОСТИ
            li 
                a(href="../src/catalog.html") КАТАЛОГ 
            li 
                a(href="") КОМАНДА
            li 
                a(href="") БРЕНДЫ
            li 
                a(href="../src/useful_inf.html") ПОЛЕЗНОЕ